dist: xenial
language: python
cache: pip
install:
- pip3 install poetry
- poetry install
matrix:
  include:
  - os: linux
    python: 3.7
    env: DEPLOY=yes
  - os: linux
    python: 3.8
  - os: osx
    language: generic
script:
- bash scripts/test.sh > /dev/null
after_script:
- bash <(curl -s https://codecov.io/bash)
