name: Release
on:
  workflow_dispatch:

jobs:
  test:
    uses: streamdeck-linux-gui/streamdeck-linux-gui/.github/workflows/test.yaml@main

  release:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install semantic-release plugins
        run: |
          npm install @semantic-release/github -D
          npm install @semantic-release/changelog -D
          npm install @semantic-release/release-notes-generator -D
          
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: npx semantic-release

  publish:
    needs: release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'workflow_dispatch'
    
    steps:
      - uses: actions/checkout@v3
        
      - name: Set up python 
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install build tools
        run: python -m pip install --upgrade setuptools wheel twine

      - name: Install dependencies
        run: poetry install --no-interaction --no-root --no-ansi

      - name: publish pypi
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: poetry publish --build
